Source: python-tesseract
Maintainer: FreeToGo <FreeToGo@gmail.com>
Section: python
Priority: optional
Build-Depends: @cdbs@
Standards-Version: 3.9.1
X-Python-Version: >= 2.7

Package: python-tesseract
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, tesseract-ocr, leptonica
Breaks: ${python:Breaks}
Provides: 
Description: ${python:Provides} Wrapper for Python-${python:Versions} 
 Provide a python wrapper class for tesseract-ocr using swig
 ......
  
